nb-list-item {
  border-bottom: 0 !important;
  padding: 0 !important;
  margin-bottom: 25px;
  max-width: 95%;
  overflow-x: auto;
}

.scroll-arrow {
  z-index: 999 !important;
}

nb-list-item:first-child {
  border-top: 0 !important;
}

.list-ms {
  height: 80vh;
  overflow-y: scroll;
}