@media (max-width: 1025px) {
    .ads {
        display: none;
    }

    .chat {
        max-width: 100%;
    }
}

@media (min-width: 1025px) {
    .chat {
        max-width: 70%;
    }
}

.ads {
    position: fixed;
    top: auto;
    left: 20px;
    width: 23%;
    z-index: 1000;
}