.chat {
    width: 70%;
}

.chat.full-width {
    width: 100%;
}

.ads {
    position: fixed;
    top: auto;
    left: 20px;
    width: 23%;
    z-index: 1000;
}

@media (max-width: 1025px) {
    .ads {
        display: none;
    }

    .chat,
    .chat.full-width {
        width: 100%;
    }
}