<nb-layout>
    <nb-layout-header fixed>
        <button *ngIf="userInfo?.privileges?.['admin'] || userInfo?.privileges?.['moderator']" nbButton ghost
            size="giant" (click)="sidebarService.toggle(true)">
            <nb-icon icon="menu"></nb-icon>
        </button>
        <app-channel-header [(userInfo)]="userInfo" style="flex: auto;"></app-channel-header>
    </nb-layout-header>

    <nb-sidebar *ngIf="userInfo?.privileges?.['admin'] || userInfo?.privileges?.['moderator']" responsive right
        [state]="'expanded'">
        <nb-user [name]="userInfo.username" [picture]="userInfo.picture" class="lg-s-none"
            [nbContextMenu]="userMenu" [nbContextMenuTag]="userMenuTag"></nb-user>
        <nb-menu [items]="navigationMenu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>