<div *ngIf="message && message.text" class="d-flex flex-row align-content-center my-1 mx-2 thread-message-container">
    <div class="d-flex flex-column">
        <nb-user class="pt-2" [shape]="'round'" [color]="'white'" [size]="'medium'"
            [picture]="chatService.channelInfo?.logoUrl || ''" [name]="chatService.channelInfo?.name || ''"
            onlyPicture></nb-user>
    </div>
    <div class="d-flex flex-column gap-1 overflow-auto flex-grow-1">
        <div class="d-flex flex-row gap-2 pe-1">
            <strong class="text-black-50 thread-author">{{_authService.userInfo?.privileges?.['admin'] || message.author
                != 'Anonymous' ? message.author : chatService.channelInfo?.name}}</strong>
            <small class="text-black-50">{{ message.timestamp | messageTime }}</small>
            <small class="text-black-50" *ngIf="isEdited(message)">
                נערכה {{ message.last_edit | messageTime }}
            </small>
            <small class="text-black-50" *ngIf="message.views && message.views > 0">
                <nb-icon icon="eye-outline"></nb-icon>
                {{ message.views }}
            </small>
            <div *ngIf="message.deleted">
                <nb-icon icon="alert-circle" nbPopover="לחצו כאן לשחזור ההודעה" nbPopoverTrigger="hover"
                    (click)="editMessage(message)" status="danger"></nb-icon>
            </div>

            <div class="thread-actions">
                <button *ngIf="canUserEditMessage(message)" class="thread-icon-button" nbButton ghost shape="round"
                    size="tiny" (click)="editMessage(message)" title="ערוך הודעה">
                    <nb-icon icon="edit"></nb-icon>
                </button>
                <button *ngIf="canUserDeleteMessage(message)" class="thread-icon-button" nbButton ghost shape="round"
                    size="tiny" (click)="deleteMessage(message)" title="מחק הודעה">
                    <nb-icon icon="trash-2"></nb-icon>
                </button>

                <!--button *ngIf="_authService?.userInfo?.privileges?.['writer'] && !message.deleted"
                    class="thread-icon-button" nbButton ghost shape="round" size="tiny"
                    (click)="replyToThisMessage(message)" title="הגב בשרשור">
                    <nb-icon icon="corner-up-right"></nb-icon>
                </button-->

                <button *ngIf="_authService.userInfo" nbButton ghost shape="round" size="tiny"
                    (click)="openReportDialog(message.id)" title="דווח על ההודעה" class="thread-icon-button">
                    <nb-icon icon="alert-triangle-outline"></nb-icon>
                </button>
                <!--button class="thread-icon-button" nbButton ghost shape="round" size="tiny"
                    (click)="copyLink(message.id)" title="העתק קישור להודעה">
                    <nb-icon icon="link-2"></nb-icon>
                </button-->
            </div>
        </div>

        <!--div [ngbPopover]="emojiMenuTemplate" [disablePopover]="!reacts.length" [triggers]="'manual'"
            [popoverContext]="{message}" [autoClose]="'outside'" [placement]="getPopoverPlacement()"
            [popoverClass]="'emoji-picker-popover'" (mouseenter)="showEmojiMenu()"
            (mouseleave)="scheduleEmojiMenuClose()" #p="ngbPopover"-->
        <div>
            <div class="d-flex flex-column rounded-3 border fs-6 lh-base thread-message-card"
                [ngStyle]="{'opacity': message.deleted ? 0.5 : 1}">

                <div *ngIf="replyToMessage" class="thread-reply-quote-section">
                    <div class="thread-reply-quote" (click)="navigateToOriginalMessage(replyToMessage.id!)">
                        <div class="thread-reply-quote-header">
                            <nb-icon icon="corner-up-right" class="reply-icon"></nb-icon>
                            <span class="reply-author">{{ replyToMessage.author }}</span>
                            <span class="reply-time">{{ replyToMessage.timestamp | messageTime }}</span>
                        </div>
                        <div class="thread-reply-quote-content">
                            {{ truncateText(replyToMessage.text || '') }}
                        </div>
                    </div>
                </div>

                <div class="px-2 pt-2" #media>
                    <markdown [data]="message.text" [disableSanitizer]="true" class="thread-markdown"
                        (click)="viewLargeImage($event)">
                    </markdown>
                </div>
                <!--div *ngIf="message.reactions" class="thread-emojis-section">
                    <div *ngFor="let reaction of message.reactions | keyvalue" class="thread-emoji-reaction"
                        (click)="setReact(message.id, reaction.key)"
                        [title]="reaction.value + ' אנשים הגיבו עם ' + reaction.key">
                        <span class="emoji">{{ reaction.key }}</span>
                        <span class="count">{{ reaction.value }}</span>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>

<!--ng-template #emojiMenuTemplate let-message="message">
    <div class="emoji-picker-menu" (mouseenter)="cancelEmojiMenuClose()" (mouseleave)="scheduleEmojiMenuClose()">
        <div class="emoji-grid">
            <button *ngFor="let react of reacts" class="emoji-option emoji" (click)="setReact(message.id, react)">
                {{ react }}
            </button>
        </div>
    </div>
</ng-template-->