<div *ngIf="message && message.text" class="d-flex flex-row align-content-center my-1 mx-4">
    <div class="d-flex flex-column">
        <nb-user class="pt-4" [shape]="'round'" [color]="'white'" [size]="'large'"
            [picture]="chatService.channelInfo?.logoUrl || ''" [name]="chatService.channelInfo?.name || ''"
            onlyPicture></nb-user>
    </div>
    <div class="d-flex flex-column gap-1 overflow-auto">
        <div class="d-flex flex-row gap-2 pe-1">
            <!--strong class="text-black-50">{{ message.author }}</strong-->
            <strong class="text-black-50">{{_authService.userInfo?.privileges?.['admin'] || message.author != 'Anonymous' ? message.author :
                chatService.channelInfo?.name}}</strong>
            <small class="text-black-50">{{ message.timestamp | messageTime }}</small>
            <small class="text-black-50" *ngIf="isEdited(message)">
                נערכה {{ message.last_edit | messageTime }}
            </small>
            <small class="text-black-50" *ngIf="message.views && message.views > 0">
                <nb-icon icon="eye-outline"></nb-icon>
                {{ message.views }}
            </small>
            <div *ngIf="message.deleted">
                <nb-icon icon="alert-circle" nbPopover="לחצו כאן לשחזור ההודעה" nbPopoverTrigger="hover"
                    (click)="editMessage(message)" status="danger"></nb-icon>
            </div>

            <button *ngIf="canUserEditMessage(message)" class="icon-button" nbButton ghost shape="round" size="small"
                (click)="editMessage(message)" title="ערוך הודעה">
                <nb-icon icon="edit"></nb-icon>
            </button>
            <button *ngIf="canUserDeleteMessage(message)" class="icon-button" nbButton ghost shape="round" size="small"
                (click)="deleteMessage(message)" title="מחק הודעה">
                <nb-icon icon="trash-2"></nb-icon>
            </button>
            <button *ngIf="_authService?.userInfo?.privileges?.['writer'] && !message.deleted" class="icon-button"
                nbButton ghost shape="round" size="small" (click)="replyToThisMessage(message)" title="הגב להודעה">
                <nb-icon icon="corner-up-right"></nb-icon>
            </button>
            <button *ngIf="_authService.userInfo" nbButton ghost shape="round" size="small"
                (click)="openReportDialog(message.id)" title="דווח על ההודעה" class="icon-button">
                <nb-icon icon="alert-triangle-outline"></nb-icon>
            </button>
            <button class="icon-button" nbButton ghost shape="round" size="small" (click)="copyLink(message.id)"
                title="העתק קישור להודעה">
                <nb-icon icon="link-2"></nb-icon>
            </button>
        </div>
        <div [ngbPopover]="emojiMenu" [disablePopover]="!reacts.length" [triggers]="'manual'"
            [popoverContext]="{message}" [autoClose]="'outside'" [placement]="getPopoverPlacement()"
            [popoverClass]="'emoji-picker-popover'" (mouseenter)="showEmojiMenu()"
            (mouseleave)="scheduleEmojiMenuClose()" #p="ngbPopover">
            <div class="d-flex flex-column rounded-3 border fs-5 f lh-base message-card"
                [ngStyle]="{'opacity': message.deleted ? 0.5 : 1}">

                <div *ngIf="replyToMessage" class="reply-quote-section">
                    <div class="reply-quote" (click)="navigateToOriginalMessage(replyToMessage.id!)">
                        <div class="reply-quote-header">
                            <nb-icon icon="corner-up-right" class="reply-icon"></nb-icon>
                            <span class="reply-author">{{ replyToMessage.author }}</span>
                            <span class="reply-time">{{ replyToMessage.timestamp | messageTime }}</span>
                        </div>
                        <div class="reply-quote-content">
                            {{ truncateText(replyToMessage.text || '') }}
                        </div>
                    </div>
                </div>

                <div class="px-3 pt-3" #media>
                    <markdown [data]="message.text" [disableSanitizer]="true" (click)="viewLargeImage($event)">
                    </markdown>
                </div>
                <div *ngIf="message.reactions" class="emojis-section">
                    <div *ngFor="let reaction of message.reactions | keyvalue" class="emoji-reaction"
                        (click)="setReact(message.id, reaction.key)"
                        [title]="reaction.value + ' אנשים הגיבו עם ' + reaction.key">
                        <span class="emoji">{{ reaction.key }}</span>
                        <span class="count">{{ reaction.value }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #emojiMenu let-message="message">
    <div class="emoji-picker-menu" (mouseenter)="cancelEmojiMenuClose()" (mouseleave)="scheduleEmojiMenuClose()">
        <div class="emoji-grid">
            <button *ngFor="let react of reacts" class="emoji-option emoji" (click)="setReact(message.id, react)">
                {{ react }}
            </button>
        </div>
    </div>
</ng-template>