<div class="d-flex flex-row align-items-center">
    <img [src]="chatService.channelInfo?.logoUrl" class="rounded-circle" (click)="viewLargeImage($event)">
    <div class="m-2"></div>
    <div class="d-flex flex-column flex-grow-1">
        <h1 *ngIf="chatService.channelInfo?.name" class="h5 mb-1 fw-bold">{{ chatService.channelInfo?.name }}</h1>
        <small class="text-muted">{{ chatService.channelInfo?.description ?? '' }}</small>
    </div>

    @if (notificationsService.initialized && !adminPanel) {
    <button nbButton shape="round" class="m-2" title="התראות" status="danger"
        (click)="notificationsService.requestPermission()">
        <nb-icon icon="bell"></nb-icon>
    </button>
    }

    @if (userInfo?.privileges?.['writer']) {
    <button nbButton shape="round" class="m-2 d-none d-md-block" title="הודעה חדשה" status="primary"
        (click)="openMessageFormDialog()">
        <nb-icon icon="message-square"></nb-icon>
    </button>
    }

    @if (userInfo) {
    <nb-user [name]="userInfo.username" shape="round" color="#cccccc" [nbContextMenu]="userMenu"
        [nbContextMenuTag]="userMenuTag" [picture]="userInfo.picture" [onlyPicture]="isSmallScreen">
    </nb-user>
    } @else {
    <button nbButton shape="round" class="m-2" title="התחבר" [routerLink]="['/login']">
        <nb-icon icon="log-in"></nb-icon>
    </button>
    }
</div>