<nb-layout>
    <nb-layout-header fixed>
        <button nbButton ghost size="giant" (click)="sidebarService.toggle(true)">
            <nb-icon icon="menu"></nb-icon>
        </button>

        <div class="m-2"></div>

        <app-channel-header [userInfo]="userInfo" [adminPanel]="true" style="flex: auto;"></app-channel-header>
    </nb-layout-header>

    <nb-sidebar fixed right [state]="'compacted'">
        <nb-menu [items]="navigationMenu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>