@use 'themes' as *;
@use '@nebular/theme/styles/globals' as *;
@use '@ctrl/ngx-emoji-mart/picker';

@include nb-install() {
  @include nb-theme-global();
}

/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

markdown,
markdown p {
  font-weight: 500;
  font-size: clamp(0.875rem, 2.5vw, 1.15rem);
}

/* Styling for blockquotes inside markdown component */
markdown blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1rem;
  border-right: 5px solid #ccc;
  background-color: #f9f9f9;
  color: #666;
  border-radius: 8px;
}

markdown blockquote p {
  margin-bottom: 0;
}